<style>
  .dropdown-menu-large {
    padding: 20px 0px;
  }

  .dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
  }

  .dropdown-menu-large > li > ul > li {
    list-style: none;
  }

  .dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: red;
    white-space: normal;
  }

  .dropdown-menu-large > li ul > li > a:hover,
  .dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: green;
  }

  .dropdown-menu-large .disabled > a,
  .dropdown-menu-large .disabled > a:hover,
  .dropdown-menu-large .disabled > a:focus {
    color: red;
    background-color: green;
  }

  .dropdown-menu-large .disabled > a:hover,
  .dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: green;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
  }

  .dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  @media (max-width: 768px) {
    .dropdown-menu-large {
      margin-left: 0;
      margin-right: 0;
    }

    .dropdown-menu-large > li {
      margin-bottom: 30px;
    }

    .dropdown-menu-large > li:last-child {
      margin-bottom: 0;
    }

    .dropdown-menu-large .dropdown-header {
      padding: 3px 15px !important;
    }
  }
  .dropdown-toggle::after {
    content: unset;
  }
</style>
<div
  role="navigation"
  class="col-md-8 col-sm-8 col-xs-12"
  style="padding:0 0 0 0;">
  <ul class="nav navbar-nav">
    <li
      class="dropdown" *ngFor="let item of content" (mouseover)="item.hover=true" (mouseout)="item.hover=false" [ngClass]="item.hover ? 'open' : ''">
      <a [routerLink]="[ getLinkUrl(item) ]" class="dropdown-toggle"
        data-toggle="dropdown" (click)="onclick(item)">
        {{ item.name }}
        <b class="caret"></b>
      </a>
      <ul
        class="dropdown-menu" *ngIf="hasSubMenu(item)">
        <li
          class="dropdown dropdown-submenu" *ngFor="let l2item of item.childMenuItems" (mouseover)="l2item.hover=true" (mouseout)="l2item.hover=false" [ngClass]="l2item.hover ? 'open' : ''">
          <a [routerLink]="[ getLinkUrl(l2item)]" class="dropdown-toggle"
            data-toggle="dropdown" (click)="onclick(l2item)">
            {{ l2item.name }}
            <b class="caret"></b>
          </a>
          <ul
            class="dropdown-menu" *ngIf="hasSubMenu(l2item)">
            <li
              class="dropdown" *ngFor="let l3item of l2item.childMenuItems" (mouseover)="l3item.hover=true" (mouseout)="l3item.hover=false" [ngClass]="l3item.hover ? 'open' : ''">
              <a [routerLink]="[ getLinkUrl(l3item) ]" class="dropdown-toggle"
                data-toggle="dropdown" (click)="onclick(l3item)">
                {{ l3item.name }}
                <b class="caret"></b>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
