<bre-render-cms-component [path]="'header'" [renderComponent]="starterstoreHeaderComponent"></bre-render-cms-component>

<!--<app-breadcrumb></app-breadcrumb>-->
<div class="container">
  <div class="row" style="padding-top:70px;">
    <div class="col-md-12">
      <bre-render-cms-component [path]="'main/intro'"></bre-render-cms-component>
    </div>
  </div>
  <div class="row" style="padding-top:20px;">
    <div class="col-md-12">
      <bre-render-cms-component [path]="'main/body'"></bre-render-cms-component>
    </div>
  </div>
  <div class="row" style="padding-top:20px">
    <div class="col-md-12">
      <bre-render-cms-component [path]="'main/closing'"></bre-render-cms-component>
    </div>
  </div>
</div>

<app-base-footer></app-base-footer>
